* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    width: 500px;
    margin: 20px auto;
    text-align: center;
}

td {
    width: 85px;
}

.clear {
    clear: both;
}

#calculator {
    width: 400px;
    height: 300px;
    /* background-image    : linear-gradient(360deg,#eaddcf,#f3d2c1); */
    background: radial-gradient(circle, #eaddcf 0%, #FFC288 100%);
    box-shadow: 1px 1px 2px black, 0 0 25px black;
}

#calculator .result_area {
    width: 400px;
    height: 80px;
    border: 1px solid #000;
    font-size: 40px;
    padding-left: 5px;
    background-color: #eee;
}

#calculator .input {
    border: none;
}

.btn {
    width: 100%;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fffffe;
    /*$ tọa độ X, tọa độ Y, màu*/
    box-shadow: -5px -5px #666;
}

.btn:active {
    animation: move ease 0.3s;
}

@keyframes move {
    to {
        transform: translateY(5px);
    }
}

.operator {
    background-color: #e76f51;
}

#doit {
    height: 150px;
    background-color: #f25042;
}

#calculator .result_area:focus {
    border-radius: 5px;
}